<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>My Library</h1>
    <a href="/logout">Log out</a>

    <%- include("partials/addFolderFile.ejs") %> <% if (subfolders.length > 0 ||
    files.length > 0){ %>
    <ul>
      <% subfolders.forEach((subfolder) => { %>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="16"
          height="16"
        >
          <title>folder</title>
          <path
            d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z"
          />
        </svg>
        <a href="/dashboard/<%=subfolder.id%>"><%=subfolder.name%></a>
        <p><%=subfolder.updatedAt.toString().split("GMT")[0].trim();%></p>
        <p>-</p>
        <button
          type="button"
          class="editButtons"
          data-current-name="<%=subfolder.name%>"
        >
          Rename
        </button>
        <dialog>
          <form method="POST" action="/dashboard/<%=subfolder.id%>/update">
            <h1>Rename folder</h1>
            <input type="text" required name="updatedFolderName" />
            <button type="button" class="closeButtons">Cancel</button>
            <button type="submit">Enter</button>
          </form>
        </dialog>
        <a href="/dashboard/<%=subfolder.id%>/delete">Delete</a>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>This folder is empty.</p>
    <% } %>

    <script>
      const editButtons = document.querySelectorAll(".editButtons");
      const closeButtons = document.querySelectorAll(".closeButtons");

      editButtons.forEach((editButton) => {
        const dialog = editButton.nextElementSibling;
        const folderName = editButton.getAttribute("data-current-name");
        editButton.addEventListener("click", () => {
          const nameInput = dialog.querySelector(
            'input[name="updatedFolderName"]'
          );
          nameInput.value = folderName;
          dialog.showModal();
        });
      });

      closeButtons.forEach((closeButton) => {
        const dialog = closeButton.closest("dialog");
        closeButton.addEventListener("click", () => {
          dialog.close();
        });
      });
    </script>
  </body>
</html>
